#header {
  height: 80px;
  width: 100%;
  background-color: rgb(101, 101, 184);
}

#logo,
#navbar,
#login_panel {
  height: 100px;
  display: inline-block;
  padding-top: 30px;
}

#navbar a,
#login_panel a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#logo {
  width: 100px;
}

#navbar {
  width: 700px;
  padding-left: 100px;
  gap: 30px;
}
#navbar a:hover {
  background-color: rgb(201, 235, 223);
}
#login_panel {
  float: right;
  padding-right: 30px;
}

#login_page {
  width: 300px;
  height: 300px;
  background-color: rgb(248, 220, 167);
  border-radius: 20px;
  text-align: center;
}
#login_page input {
  margin: 10px;
  height: 25px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
}
#login_page button {
  background-color: rgb(112, 179, 241);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.content {
  min-height: 500px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

#footer {
  height: 40px;
  width: 100%;
  background-color: rgb(101, 101, 184);
}
